<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zh.mybatisplustest.mapper.UserInfoBaseMapper">

    <resultMap id="BaseResultMap" type="com.example.zh.mybatisplustest.entity.UserInfoBase">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="proId" column="pro_id" jdbcType="VARCHAR"/>
            <result property="cityId" column="city_id" jdbcType="VARCHAR"/>
            <result property="phoneNum" column="phone_num" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,gender,
        birthday,age,pro_id,
        city_id,phone_num,create_time,
        update_time
    </sql>
</mapper>
